.nav_bar {
    display: inline-block;
    background: none;
    color: black;
    padding: 9px 20px;
    text-decoration: none;
}

.nav_bar:hover {
    background: gray;
}

nav {
    background: none;
    padding: 10px;
    text-align: center;
    font-style: sans-serif;
    font-size: smaller;
}

body {
    background: url(fondo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #adacac;
    font-size: 1em;
    top: 50%;
    left: 80%;
    transform: translatex(15%) translatey(15%);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-size: 3em;
    top: 50%;
    right: 10ch;
    transform: translatex(15%) translatey(15%);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: black;
    font-size: 3em;
    top: 50%;
    right: 10ch;
    transform: translatex(15%) translatey(15%);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn button {
    height: 30px;
    width: 30px;
    margin: 200px 200px;
    background: -webkit-linear-gradient(rigth, #00dbde, #fc00ff, #00dbde, #fc00ff, );
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}