.nav_bar {
    display: inline-block;
    background: white;
    color: black;
    text-align: center;
    padding: 9px 20px;
    text-decoration: none;
}

.nav_bar:hover {
    background: rgb(255, 251, 251);
}

nav {
    background: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-style: sans-serif;
    font-size: smaller;
}

h1 {
    color: #adacac;
    font-size: 1em;
    top: 50%;
    left: 80%;
    transform: translatex(15%) translatey(15%);
}

h2 {
    color: black;
    font-size: 2em;
    top: 50%;
    right: 10ch;
    transform: translatex(15%) translatey(15%);
}